[user]
	name = Camden Narzt
	email = c.narzt@me.com
	signingkey = 45CDAC6F53A7A2EE3D294A79E349304DE45D816B
[blame]
	coloring = highlightRecent
[core]
	autocrlf = input
	compression = 9
	editor = emacs
# excludesfile default is: ~/.config/git/ignore
	excludesfile = ~/Developer/Bash/dot-files/.gitignore
	fsyncMethod = writeout-only
	looseCompression = 9
#       pager = delta --dark --theme TwoDark
	whitespace = trailing-space,space-before-tab
#	fsmonitor = true # really slow, wtf?
#       untrackedCache = true
#	fsync = none
#	filemode = false
	hooksPath = ~/Developer/Bash/dot-files/.git/hooks
#	sshCommand = ssh -vvvv
[pack]
	compression = 9
[interactive]
# 	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations navigate
	hyperlinks = false
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[sendemail]
# 	smtpencryption = tls
# 	smtpserver = smtp.gmail.com
# 	smtpuser = camden.narzt@gmail.com
# 	smtpserverport = 587
[color]
	ui = auto
	blame = highlightRecent
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[apply]
	whitespace = fix
[alias]
	delete-untracked = clean -dXf
	root = rev-parse --show-toplevel
	amend = commit --amend
	ammend = commit --amend
	fixup = commit --fixup
	contains = describe --contains
	history = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	diff-log = "-c diff.external=difft log -p --ext-diff"
	idiff = difftool -t idiff -y
	diffw = diff --ignore-space-change
	git = "!exec git"
	ignore = "!git status | grep \"$@\" | tr -d '[:space:]' >> .gitignore  #"
	submodules = submodule
	commitw = "!git diff -U0 -w --no-color | git apply --cached --ignore-whitespace --unidiff-zero -"
	unstage = restore --staged
	upto = "!git push $(git rev-parse --abbrev-ref --symbolic @{u} | cut -d/ -f1) \"$*\":$(git config --get \"branch.$(git branch --show-current).merge\") #"
	upto-force = "!git push --force $(git rev-parse --abbrev-ref --symbolic @{u} | cut -d/ -f1) \"$*\":$(git config --get \"branch.$(git branch --show-current).merge\") #"
	zip = archive --format=zip --output=archive.zip -9 HEAD
	tar = archive --format=tar --output=archive.tar HEAD
	sub = submodule update --init --recursive
	swap = switch -
	files-in-commit = diff-tree --no-commit-id --name-only -r
	track = "!git log -L$1,$2:$3 || echo 'usage: git track startLine endLine file' #"
	trackf = "!git log -L:$1:$2 || echo 'usage: git trackf function file' #"
	hash-type = cat-file -t
	hash-dump = cat-file -p
	stat = status
	pop = reset HEAD~
	authors = shortlog --summary --numbered
	save-diff = "!mkdir -p \"saved_diffs/${1%/*}\" && git diff $1 > \"saved_diffs/$1\" #"
[push]
	default = simple
	# When pushing to a branch without remote, automatically --set-upstream.
	autoSetupRemote = true
	# followTags = true # bad! pushes all local tags, always!
[filter "lfs"]
# 	clean = git-lfs clean -- %f
# 	smudge = git-lfs smudge -- %f
# 	required = true
# 	process = git-lfs filter-process
[gpg]
	#program = # if broken try to set to a script that finds gpg
[commit]
	verbose = true
	gpgsign = true
	template = ~/.config/git/commitMsg
[url "git@gitlab.phusion.nl:"]
	insteadOf = https://gitlab.phusion.nl/
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = gh:
	insteadOf = github:
[url "git@gist.github.com:"]
	insteadOf = https://gist.github.com/
	insteadOf = gist:
[diff]
	renames = true
	indentHeuristic = true
	compactionHeuristic = true
	algorithm = histogram
	colorMoved = plain
	colorMovedWS = ignore-all-space
	tool = difftastic
	external = difft
	mnemonicPrefix = true
[merge]
	tool = vimdiff
	conflictstyle = zdiff3
	# ff = false
[difftool]
	prompt = false
[difftool "vim"]
	cmd = vimdiff $LOCAL $REMOTE
[difftool "idiff"]
	cmd = diff -iwu $LOCAL $REMOTE | less
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[fetch]
	# Remove references to remote branches that have been deleted.
	prune = true
	pruneTags = true
	all = true
[submodule]
	recurse = true
[trace2]
#	perfTarget = ~/Desktop/gitlog.perf
#	normalTarget = ~/Desktop/gitlog.normal
#	eventTarget = ~/Desktop/gitlog.event
[pager]
	difftool = true
[rerere]
	# Automatically record and reuse conflict resolutions.
	enabled = true
	autoupdate = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[help]
	autocorrect = prompt
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
