[user]
	name = Camden Narzt
	email = c.narzt@me.com
	signingkey = E45D816B
[core]
	editor = emacs
	filemode = false
	autocrlf = input
	hooksPath = /Users/camdennarzt/Developer/Bash/dot-files/.git/hooks
	excludesfile = /Users/camdennarzt/.config/git/ignore
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser =
	smtppass =
	smtpserverport = 587
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[alias]
	history = log --oneline --abbrev-commit --all --graph --decorate --color
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	git = !exec git
	idiff = difftool -t idiff -y
	dfw = diff --ignore-space-change
        commitw = ! git diff -U0 -w --no-color | git apply --cached --ignore-whitespace --unidiff-zero -
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[gpg]
	program = /usr/local/bin/gpg-git
# script with: exec gpg --no-tty "$@"
[commit]
	gpgsign = true
	template = /Users/camdennarzt/.config/git/commitMsg
[url "git@gitlab.phusion.nl:"]
	insteadOf = https://gitlab.phusion.nl/
[diff]
	algorithm = histogram
[difftool "idiff"]
	cmd = diff -iwu $LOCAL $REMOTE | less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
