/.emacs.d/backup-files/*
/.emacs.d/elpa/*
/.emacs.d/auto-save-list/*
/.emacs.d/recentf
/.bash.d/history
/.bash.d/.bash-git-prompt
/.emacs.d/%backup%~
/.emacs.d/auto-save-files/*
/.emacs.d/ido.last
/.emacs.d/tramp
.atom
passenger.*.log
passenger.*.pid
passenger.*.pid.lock
*.bak
.DS_Store
Desktop.ini
node_modules
*~
*.swp
.#*
._*
Thumbs.db
.Spotlight-V100
.Trashes
*.pyc
*.out
.sass-cache
/usr/local/etc/dnsmasq.d/dnsmasq.blacklist.txt
/.emacs.d/.lsp-session-v1
/.emacs.d/lsp-logs
/usr/local/etc/dnsmasq.d/resolv-dnsmasq.conf
