[user]
	name = Camden Narzt
	email = c.narzt@me.com
	signingkey = 45CDAC6F53A7A2EE3D294A79E349304DE45D816B
[blame]
	coloring = highlightRecent
[core]
  	autocrlf = input
 	compression = 9
  	editor = emacs
  	excludesfile = /Users/camdennarzt/Developer/Bash/dot-files/.gitignore
 	fsyncMethod = writeout-only
 	looseCompression = 9
 	pager = delta --dark
  	whitespace = trailing-space,space-before-tab
#  	fsmonitor = true # really slow, wtf?
#	fsync = none
# 	filemode = false
#	hooksPath = /Users/camdennarzt/Developer/Bash/dot-files/.git/hooks # breaks local hooks
#	sshCommand = ssh -vvvv
[pack]
	compression = 9
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations navigate
	hyperlinks = false
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
# [sendemail]
# 	smtpencryption = tls
# 	smtpserver = smtp.gmail.com
# 	smtpuser = camden.narzt@gmail.com
# 	smtpserverport = 587
[color]
	ui = auto
	blame = highlightRecent
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[apply]
	whitespace = fix
[alias]
	amend = commit --amend
	ammend = commit --amend
	history = log --oneline --abbrev-commit --all --graph --decorate --color
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	git = !exec git
	ignore = "!git status | grep \"$@\" | tr -d '[:space:]' >> .gitignore  #"
	submodules = submodule
	idiff = difftool -t idiff -y
	diffw = diff --ignore-space-change
	commitw = ! git diff -U0 -w --no-color | git apply --cached --ignore-whitespace --unidiff-zero -
	upto = "! git push $(git rev-parse --abbrev-ref --symbolic @{u} | cut -d/ -f1) \"$*\":$(git config --get \"branch.$(git branch --show-current).merge\") #"
	zip = "git archive --format=zip --output=archive.zip -9 HEAD"
	tar = "git archive --format=tar --output=archive.tar HEAD"
	sbi = submodule update --init --recursive
	files-in-commit = diff-tree --no-commit-id --name-only -r
[push]
	default = simple
# [filter "media"]
# 	required = true
# 	clean = git media clean %f
# 	smudge = git media smudge %f
# [filter "hawser"]
# 	clean = git hawser clean %f
# 	smudge = git hawser smudge %f
# 	required = true
# [filter "lfs"]
# 	clean = git-lfs clean -- %f
# 	smudge = git-lfs smudge -- %f
# 	required = true
# 	process = git-lfs filter-process
[gpg]
	program = /usr/local/bin/gpg
# script with: exec gpg --no-tty "$@"
[commit]
	gpgsign = true
	template = /Users/camdennarzt/.config/git/commitMsg
[url "git@gitlab.phusion.nl:"]
	insteadOf = https://gitlab.phusion.nl/
[url "git@github.com:"]
	insteadOf = https://github.com/
[diff]
	renames = copies
	indentHeuristic = true
	compactionHeuristic = true
	algorithm = histogram
	colorMoved = default
	colorMovedWS = ignore-all-space
[merge]
	tool = vimdiff
	conflictstyle = diff3
	ff = false
[difftool "vim"]
	cmd = vimdiff $LOCAL $REMOTE
[difftool "idiff"]
	cmd = diff -iwu $LOCAL $REMOTE | less
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[submodule]
	recurse = true
# [trace2]
# 	perfTarget = /Users/camdennarzt/Desktop/gitlog.perf
# 	normalTarget = /Users/camdennarzt/Desktop/gitlog.normal
# 	eventTarget = /Users/camdennarzt/Desktop/gitlog.event
