*.bak
*.out
*.pyc
*.swp
*~
.#*
.DS_Store
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.\#*
._*
.atom
.com.apple.timemachine.donotpresent
.fseventsd
.sass-cache
/.bash.d/.bash-git-prompt
/.emacs.d/%backup%~
/.emacs.d/.cache
/.emacs.d/.dap-breakpoints
/.emacs.d/.lsp-session-v1
/.emacs.d/auto-save-files/*
/.emacs.d/auto-save-list/*
/.emacs.d/backup-files/*
/.emacs.d/eclipse.jdt.ls
/.emacs.d/elpa/*
/.emacs.d/ido.last
/.emacs.d/lsp-logs
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d/tree-sitter/libtree-sitter-*.dylib
/.emacs.d/workspace
/.emacs.d/projects
/usr/local/etc/dnsmasq.d/dnsmasq.blacklist.txt
/usr/local/etc/dnsmasq.d/filtering.resolv
/usr/local/etc/dnsmasq.d/resolv-dnsmasq.conf
Desktop.ini
Thumbs.db
node_modules
passenger.*.log
passenger.*.pid
passenger.*.pid.lock
