set completion-ignore-case on
set blink-matching-paren on
set colored-completion-prefix on
set colored-stats on
set enable-bracketed-paste on
set skip-completed-text on
"\e[B": history-search-forward
"\e[A": history-search-backward
"\e[3~": delete-char

# Allow UTF-8 Input And Output, Instead Of Showing Stuff Like $'\0123\0456'.
set input-meta on
set output-meta on
set convert-meta off
