settings set target.load-cwd-lldbinit true
settings set target.x86-disassembly-flavor intel
b malloc_error_break
platform shell echo 'to set breakpoint on function: breakpoint set -F function_name'
platform shell echo 'to set breakpoint on line: breakpoint set --file file.c --line 183'
