//registry.npmjs.org/:_authToken=${NPM_TOKEN}

editor=${HOMEBREW_EDITOR}
init-author-email=node@narzt.cam
init-author-name=Camden Narzt
init-version=0.0.1
save-dev=true
shell=${SHELL}
script-shell=${SHELL}
sign-git-commit=true
sign-git-tag=true
fund=false
