//registry.npmjs.org/:_authToken=${NPM_TOKEN}
devdir=${HOME}/Library/Caches/node-gyp
npm_package_config_puppeteer_skip_download=true
puppeteer_skip_download=true
editor=/usr/local/bin/emacsclient -t -s ${TMPDIR}/emacs501/server
init-author-email=admin@silversshadows.com
init-author-name=Camden Narzt
init-version=0.0.1
save-dev=true
shell=/usr/local/bin/bash
script-shell=/usr/local/bin/bash
sign-git-commit=true
sign-git-tag=true
fund=false
