--dfa-size-limit
100M
--follow
--glob
!vendor*
--glob
!node_modules
--regex-size-limit
100M
--type-add
ruby:*.erb
--type-add
web:include:ruby,coffeescript,css,html,json,less,ruby,sass,js,py
--type-add
cpp:include:c
--type-add
rs:include:rust
--type-add
rb:include:ruby
--type-add
groovy:*.groovy,Jenkinsfile
--type-add
el:*.el,*.elc
--type-add
elisp:include:el
