'global':
  'welcome':
    'showOnStartup': false
  'save-session':
    'dataSaveFolder': '/Users/camdennarzt/Developer/Bash/dot-files/.atom/packages/save-session/projects'
    'project': '/Users/camdennarzt/Developer/Ruby/arewesmallyet'
    'windowX': 0
    'windowY': 0
    'windowWidth': 1440
    'windowHeight': 900
  'exception-reporting':
    'userId': '6e20b0e4-6118-a36a-6c3c-d44ca2f90a8a'
  'core':
    'disabledPackages': [
      'linter-rubocop'
      'welcome'
      'racer'
      'linter-csslint'
      'linter-scss-lint'
    ]
    'projectHome': '/Users/camdennarzt/Developer'
    'ignoredNames': [
      '.git'
      '.hg'
      '.svn'
      '.DS_Store'
      '_notes'
      'Thumbs.db'
    ]
  'linter': {}
  'editor':
    'invisibles': {}
    'fontFamily': 'menlo'
    'fontSize': 14
  'racer': {}
  'linter-csslint': {}
  'browser-refresh':
    'firefoxDeveloperEdition': true
    'googleChrome': false
'.rust.source':
  'editor': {}
'linter-erb':
  'erbExecutablePath': '/Users/camdennarzt/.rbenv/shims/erb'
