"*":
  welcome:
    showOnStartup: false
  "save-session":
    project: "/Users/camdennarzt/Developer/Ruby/nmr"
    windowX: 0
    windowY: 0
    windowWidth: 1440
    windowHeight: 900
    dataSaveFolder: "/Users/camdennarzt/Developer/Bash/dot-files/.atom/packages/save-session/projects"
    fullScreen: true
    projects: [
      "/Users/camdennarzt/Developer/Ruby/KingOfStrain"
      "/Users/camdennarzt/Developer/Ruby/nmr"
      "/Users/camdennarzt/Developer/Ruby/blog"
      "/Users/camdennarzt/Developer/Ruby/m2"
      "/Users/camdennarzt/Developer/Ruby/arewesmallyet"
    ]
  "exception-reporting":
    userId: "6e20b0e4-6118-a36a-6c3c-d44ca2f90a8a"
  core:
    disabledPackages: [
      "welcome"
      "autocomplete-ruby"
    ]
    projectHome: "/Users/camdennarzt/Developer"
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "_notes"
      "Thumbs.db"
      "._*"
    ]
  editor:
    fontFamily: "menlo"
    invisibles: {}
    softWrap: true
  "browser-refresh":
    firefoxDeveloperEdition: true
    googleChrome: false
  linter:
    subtleLinterErrors: [
      "scss-lint"
    ]
    showErrorPanel: false
  "linter-rust":
    cargoPath: "/usr/local/bin/cargo"
    rustcPath: "/usr/local/bin/rustc"
  "autocomplete-plus": {}
  "autocomplete-ruby": {}
  "linter-tidy":
    tidyExecutablePath: "/usr/local/bin/tidy5"
  "linter-js-yaml": {}
  "linter-less": {}
  "linter-scss-lint":
    executablePath: "/Users/camdennarzt/.rbenv/shims/scss-lint"
    additionalArguments: "--exclude-linter EmptyLineBetweenBlocks,ZeroUnit,LeadingZero,StringQuotes,PropertySortOrder,SelectorDepth,NestingDepth,SelectorFormat,QualifyingElement,IdSelector,PlaceholderInExtend,SingleLinePerSelector"
  pigments: {}
  whitespace: {}
  "linter-erb": {}
  "linter-rubocop":
    command: "/Users/camdennarzt/.rbenv/shims/rubocop"
  racer:
    rustSrcPath: "/usr/local/share/rust_src/src/"
  "tree-view":
    hideIgnoredNames: true
  "linter-php": {}
