'global':
  'editor':
    'fontFamily': 'menlo'
    'fontSize': 14
  'core':
    'projectHome': '/Users/camdennarzt/Developer/'
    'disabledPackages': [
      'welcome'
      'racer'
      'linter-rubocop'
      'linter-csslint'
      'linter-scss-lint'
    ]
  'exception-reporting':
    'userId': '2e222403-8700-310a-806e-395ad4e95b46'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': 'aeaa3468400162e55e99b43cca1461ec66807a06'
  'save-session':
    'dataSaveFolder': '/Users/camdennarzt/Developer/Bash/dot-files/.atom/packages/save-session/projects'
    'project': '/Users/camdennarzt/Developer/Ruby/KingOfStrain'
    'x': 0
    'y': 0
    'width': 1440
    'height': 900
    'treeSize': 233
    'windowX': 0
    'windowY': 0
    'windowWidth': 1440
    'windowHeight': 900
  'browser-refresh':
    'firefox': true
    'chromeBackgroundRefresh': false
    'googleChrome': false
    'googleChromeCanary': false
    'saveFilesBeforeRefresh': true
'.rust.source':
  'editor': {}
'linter-erb':
  'erbExecutablePath': '/Users/camdennarzt/.rbenv/shims/erb'
