*|*:root {
    background-color: transparent !important;
}

#PanelUI-button,
#forward-button[disabled="true"],
#back-button[disabled="true"],
#context-media-eme-learnmore + menuseparator,
#context-media-eme-learnmore + menuseparator ~ *,
notification[value="plugin-hidden"],
.titlebar-placeholder[type="pre-tabs"],
.titlebar-placeholder[type="post-tabs"],
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"]
{
    display: none !important;
}

.titlebar-buttonbox {
    margin-right: 12px;
}

#page-action-buttons image {
    filter: grayscale(100%);
}
#page-action-buttons image:hover {
    background-color: rgba(204, 204, 204, 0.4);
}

#urlbar[breakout][breakout-extend] {
  left: unset !important;
  width: 100% !important;
  /*height: var(--urlbar-height) !important;*/
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
}

#TabsToolbar {
    -moz-appearance: -moz-mac-vibrancy-dark !important;
    -moz-font-smoothing-background-color: -moz-mac-vibrancy-dark !important;
    /*-moz-font-smoothing-background-color: -moz-mac-vibrant-titlebar-dark !important;*/
}

.theme-body {
    background-color: transparent !important;
}

hbox.titlebar-placeholder[type="caption-buttons"] {
    margin-right: 7px;
}

#statuspanel[type=overLink],
#statuspanel[inactive][previoustype=overLink] {
    margin: 0 !important;
    position: fixed !important;
    top: 22px !important;
    right: 55px !important;
    max-width:500px !important;
    min-width: 140px !important;
}

#statuspanel[type=overLink] #statuspanel-label,
#statuspanel[inactive][previoustype=overLink] #statuspanel-label {
    /* --chrome-color + .6 aplha */
    --lwt-toolbar-field-color: #9f9fa1;
    border: none !important;
    color: var(--lwt-toolbar-field-color) !important;
    font-size: 13.75px !important;
    padding-left: 22px!important;
    background-color: var(--lwt-toolbar-field-background-color)!important;
    --left: calc(100% - 18.5px);
    --width: 1px;
    background-image:
        linear-gradient(-45deg,  var(--lwt-toolbar-field-background-color) var(--left),       transparent var(--left)),
        linear-gradient(-135deg, var(--lwt-toolbar-field-background-color) var(--left),       transparent var(--left)),
        linear-gradient(-45deg,  white calc(var(--left) + var(--width)), transparent calc(var(--left) + var(--width))),
        linear-gradient(-135deg, white calc(var(--left) + var(--width)), transparent calc(var(--left) + var(--width))) !important;
}
