/* translucency/vibrancy */
/* :root #TabsToolbar, */
/* :root #titlebar, */
/* :root #tabbrowser-tabs, */
/* :root #PersonalToolbar, */
/* :root #nav-bar, */
/* /\*:root #navigator-toolbox,*\/ */
/* :root #browser { */
/*     -moz-default-appearance: menupopup !important; */
/*     appearance: auto !important; */
/*     background-color: transparent !important; */
/* } */
/* :root#main-window { */
/*     background-color: transparent !important; */
/* } */

/* :root:not(:-moz-window-inactive) #navigator-toolbox:not([inFullscreen]) { */
/*     background-color: transparent !important; */
/* } */

/* #navigator-toolbox[inFullscreen="true"] { */
/*     background-color: var(--lwt-accent-color); */
/* } */

/* #tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="true"]:-moz-lwtheme, */
/* #tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme { */
/*     --lwt-selected-tab-background-color: rgba(255, 255, 255, .2); */
/* } */

/* #commonDialogWindow, */
/* #window-modal-dialog { */
/*     --in-content-page-background: rgb(28,27,34); */
/*     background-color: var(--in-content-page-background); */
/* } */

/* hide stupid shit */
#PanelUI-button,
#forward-button[disabled="true"],
#back-button[disabled="true"],
#context-media-eme-separator,
#context-media-eme-separator ~ *,
#context-media-eme-learnmore + menuseparator,
#context-media-eme-learnmore + menuseparator ~ *,
.titlebar-spacer[type="post-tabs"],
.titlebar-placeholder[type="pre-tabs"],
.titlebar-placeholder[type="post-tabs"],
notification[value="plugin-hidden"]
{
    display: none !important;
}

/* force addon buttons to match theme */
#page-action-buttons .urlbar-addon-page-action image {
    filter: grayscale(100%) invert() contrast(33%) sepia(100%) saturate(200%) !important;
}

/* make urlbar dropdown full size */
#urlbar[breakout][breakout-extend] {
    left: unset !important;
    width: 100% !important;
}

hbox.titlebar-placeholder[type="caption-buttons"] {
    margin-right: 7px;
}

/* link hover preview in url bar */
#statuspanel[type=overLink]:-moz-locale-dir(ltr),
#statuspanel[inactive][previoustype=overLink]:-moz-locale-dir(ltr) {
    margin: 0 !important;
    position: fixed !important;
    top: 42px !important;
    right: 95px !important;
    left: unset !important;
    bottom: unset !important;
    padding: 2px !important;
    max-width:500px !important;
    min-width: 160px !important;
    /*align: right;*/
}

/* focused
#statuspanel[type=overLink] #statuspanel-label,
#statuspanel[inactive][previoustype=overLink] #statuspanel-label {
--lwt-toolbar-field-background-color: var(—-toolbar-field-focus-background-color);
--lwt-toolbar-field-background:  var(—-toolbar-field-focus-background-color);
} */

/* not-focused
#statuspanel[type=overLink] #statuspanel-label,
#statuspanel[inactive][previoustype=overLink] #statuspanel-label {
    --lwt-toolbar-field-background-color: var(--toolbar-field-background-color);
    --lwt-toolbar-field-background: var(--lwt-toolbar-field-background-color);
} */

#statuspanel[type=overLink] #statuspanel-label,
#statuspanel[inactive][previoustype=overLink] #statuspanel-label {
    --lwt-toolbar-field-color: var(--toolbar-field-color);
    --lwt-toolbar-field-background-color: var(--toolbar-field-background-color);
    --lwt-toolbar-field-background: var(--lwt-toolbar-field-background-color);

    border: none !important;
    color: var(--lwt-toolbar-field-color) !important;
    font-size: 1.25em !important;
    padding-left: 22px!important;
    background-color: var(--lwt-toolbar-field-background)!important;
    --left: calc(100% - 18.5px);
    --width: 1px;
    background-image:
        linear-gradient(-45deg,  var(--lwt-toolbar-field-background) var(--left),       transparent var(--left)),
        linear-gradient(-135deg, var(--lwt-toolbar-field-background) var(--left),       transparent var(--left)),
        linear-gradient(-45deg,  var(--toolbar-field-color) calc(var(--left) + var(--width)), transparent calc(var(--left) + var(--width))),
        linear-gradient(-135deg, var(--toolbar-field-color) calc(var(--left) + var(--width)), transparent calc(var(--left) + var(--width))) !important;
}

#statuspanel #statuspanel-label {
    border-radius: 0 !important;
}
