/* hide stupid shit */
#PanelUI-button,
#forward-button[disabled="true"],
#back-button[disabled="true"],
#context-media-eme-separator,
#context-media-eme-separator ~ *,
#context-media-eme-learnmore + menuseparator,
#context-media-eme-learnmore + menuseparator ~ *,
.titlebar-spacer[type="post-tabs"],
.titlebar-placeholder[type="pre-tabs"],
.titlebar-placeholder[type="post-tabs"],
notification[value="plugin-hidden"]
{
    display: none !important;
}

/* make urlbar dropdown full size */
#urlbar[breakout][breakout-extend] {
    left: unset !important;
    width: 100% !important;
}

hbox.titlebar-placeholder[type="caption-buttons"] {
    margin-right: 7px;
}

/* link hover preview in url bar */
#statuspanel[type=overLink],
#statuspanel[inactive][previoustype=overLink] {
    margin: 0 !important;
    position: fixed !important;
    top: -26px !important;
    right: 155px !important;
    left: unset !important;
    bottom: unset !important;
    padding: 2px !important;
    background: none !important;

    #statuspanel-label {
        border: none !important;
        color: var(--toolbar-field-focus-color) !important;
        font-size: 1.25em !important;
        background: none !important;
        padding: 0 !important;
        margin: -1.5px 0 0 5px !important;
    }
    &::before {
        content: "⟩";
    }

    :root[sizemode="fullscreen"] &{
        max-width:500px !important;
    }

    :root:not([sizemode="fullscreen"]) &{
        max-width:430px !important;
    }
}

:root[sizemode="fullscreen"] {
    #tabbrowser-tabs {
        #tabbrowser-arrowscrollbox:not([orient="vertical"]) {
            .tabbrowser-tab:only-of-type {
                & + #tabbrowser-arrowscrollbox-periphery, & {
                    visibility: collapse !important;
                }
            }
            min-height: 0!important;
        }
    }

    #TabsToolbar {
        .toolbar-items {
            visibility: collapse !important;
        }

        &:not(:hover) {
            #alltabs-button,
            #TabsToolbar-customization-target,
            toolbartabstop {
                display:none !important;
            }
        }
    }
}
